*
{
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    /* height:40px; */
    background-color:rgb(27, 226, 233);
    text-align: center;
   
}

.hadder_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:25%;
}
.lower-header{
    display: flex;
    align-items: center;
    width: 100%;  
}
.lower-header-content img{
    width:100px;
}
.lower-header-content{
    width:100%;
    height:120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lower-header h1{
    width: auto;
}
.lower-header a{
width:auto;
text-decoration: none;
color: black;
font-weight: 500;
font-size:18px ;
}
/*.search-icon{
    font-size:50px;
    background-color:inherit;
    outline: none;
    border: none;
    color: orangered;
    float:right;
    padding-left:0px ;
    cursor: pointer;
}*/

/* ******************************************* */
/* ******SLIDER SECTION CSS START HERE ****** */
/* ***************************************** */

.section_1 {
    width: 100%;
    /* position: relative; */
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    padding: 8px;
}

.section_conatiner {
    width: 100%;
    height: auto;
    padding: 8px;
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px;
    position: relative;
}

.section-SubDiv {
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    /* display:block; */
    max-width: 1680px;
}

/* ********************** */
/* SLIDER CSS START HERE */
/* ******************** */

.slidebar {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slideImg_div {
    display: inline-block;
}

/* *************************** */
/* *************************** */
/* *************************** */
/* Slideshow container */
.slideshow-container {
    position: relative;
    height: 400px;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
}

/* Hide the images by default */
.slideImg_div {
    display: none;
    height: 400px;
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: 47px;
    height: 104px;
    padding: 28px 15px;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: white;
}

/* Fading animation */
.opacity-div {
    position: relative;
    overflow: hidden;
    filter: none !important;
    min-width: 1680px;
    animation: opacity-div 0.1s;
}

@keyframes opacity-div {
    from {
        right: -300px;
        opacity: 0;
    }

    to {
        right: 0;
        opacity: 1;
    }
}

/* ********************** */
/* SLIDER CSS ENDS HERE */
/* ******************** */

.showroom{
    width: 100%;
    height:70vh;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    margin-top:5px;
}
.img-conatiner{
    width:80%;
    /* background-color: gold; */
}
.img_div_cont{
    /* background-color: pink; */
    width:auto;
    height:100%;
    display: flex;
    justify-content:center;
    /* align-items:center; */
    flex-direction: column;
    text-align: center;
    font-size: 14px;
}
.img_div_img{
height: 60vh;
width:100%;
display: flex;
justify-content: space-around;
align-items: center;
/* background-color: aqua; */
}
.img-conatiner img{
    width:20vw;
    height:45vh;
}

.link-showroom{
    width:20%;
    height:90%;
    background-color:rgb(27, 226, 233);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
.link-showroom h1{
    font-size:30px;
color: white;
    padding: 15px;
    text-align: left;
}
.link-showroom a{
    padding: 15px;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    text-decoration: none;
}
.link-showroom a:hover{
    padding: 15px;
    transition: 0.8s linear;
    background-color: rgba(255, 255, 255, 0.404);
text-decoration: none;
color: white;
}

.showroom-for-cat
{
    /* background-color: red; */
    width: 80%;
    margin: auto;
    display: flex;
    height: 100%;
    padding-top: 25px;
   
}
.text-section{
    width: 60%;
    display: flex;
    padding: 20px;
    font-size: 18px;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: pink; */
}
.text-section p{
    font-size:16px;
}
.view-service{
    font-size: 14px;
    width: 150px;
    outline: none;
    border: none;
    background-color: orange;
    color: white;
    padding: 10px;
}
.cat-log
{
    width: 40%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.category-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.category{
    background-color: white;
    width: 200px;
    font-size:10px ;
    padding: 20px;
    text-align: center;
}

.category h2{
    padding: 10px;
font-size: 16px;
}

.footer
{ 
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    width: 100%;
    /* align-items: center; */
    height: 43vh;
    background-color:rgb(27, 226, 233);
  
}
.footer-logo {
    
    margin-right: 140px;
  
}
.footer-logo img{
    width:70%;
    padding: 40px;
    height: 320px;
    width: 450px;
    margin-left: 90px;
    border-radius: 60px;
}
.links-tab{
padding-right:250px;
padding-top: 30px;
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
}
.links-tab a{
    /* padding:20px; */
    text-decoration: none;
    color: white;
}
.links-tab a:hover{
text-decoration: none;
color:black;
}
.social-icons{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    padding-top: 20px;
}

.social-icons a{
    padding:10px;
    text-decoration: none;
    color: white;
}
.social-icons a:hover{
    text-decoration: none;
    color: white;
    }
.footer-icons{
    padding: 5px;
    font-size:15px;
}
.social-icons i{
    font-size:30px;
    width: 50px;
    height: 50px;
    /* background-color: black; */
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 10px 12px;
}
.social-icons h2{
    color: #ffffff;
}